<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Users</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-4">
                    <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                    ></b-form-input>
                </div>
            </div>
            <b-table :filter="filter"
                     striped hover
                     :items="items"
                     :busy.sync="isBusy"
                     :fields="fields"
                     :per-page="perPage"
                     :current-page="currentPage"
                     id="user"
                     @filtered="onFiltered"
            >
                <template #cell(authorized_date)="data">
                    <button class="btn btn-primary btn-block">
                        {{ data.item.authorized_date}}
                    </button>
                </template>
                <template #cell(role)="data">
                    <button ref="btnChangeRole" class="btn btn-primary btn-block" @click="changeRole(data.item)">
                        {{ data.item.role ? data.item.role.title : '' }}
                    </button>
                </template>
            </b-table>
            <div class="row">
                <div class="col-md-2">
                    <b-form-select v-model="perPage" :options="pages">
                        <b-form-select-option :value="null">Select Page</b-form-select-option>
                    </b-form-select>
                </div>
                <div class="col-md-10">
                    <b-pagination
                        class="d-flex justify-content-end"
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="user"
                    ></b-pagination>
                </div>
            </div>
        </div>
        <b-modal ref="changeRoleModal" id="change-role" size="sm" title="Confirmation" @ok="handleOk">
            <form ref="form" @submit.stop.prevent="handleChangeRole">
                <div class="form-group">
                    <label>Role</label>
                    <b-form-select v-model="role_id" :options="roles">
                        <b-form-select-option :value="null">Please select a role</b-form-select-option>
                    </b-form-select>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>
import {BTable, BPagination, BFormInput, BModal, BFormSelect, BFormSelectOption} from "bootstrap-vue";
import UserModel from "./../Models/User";
import RoleModel from "./../Models/Role";

export default {
    components: {BTable, BPagination, BFormInput, BModal, BFormSelect, BFormSelectOption},
    data() {
        return {
            pages: [10, 20, 50, 100],
            currentPage: 1,
            perPage: 10,
            rows: 0,
            isBusy: false,
            filter: null,
            filterOn: [],
            fields: [
                'id',
                'full_name',
                'email',
                'last_logged_in',
                'authorized_date',
                {
                    key: 'role',
                    label: 'User Type'
                }
            ],
            items: [],
            roles: [],
            role_id: null,
            user_id: null
        }
    },
    methods: {
        changeRole(user) {
            this.role_id = user.role_id;
            this.user_id = user.id;
            this.$root.$emit('bv::show::modal', 'change-role', '#btnChangeRole');
        },
        handleChangeRole() {
            let self = this;
            UserModel.updateRole(this.user_id, this.role_id).then(res => {
                self.getUserList();
                this.$refs['changeRoleModal'].hide()
                self.$bvToast.toast('Role has been successfully updated', {
                    title: 'Success',
                    variant: 'success',
                    solid: true
                });
            }).catch(error => {
                console.log(error.response);
                self.$bvToast.toast("Opps! Something went wrong please try again.", {
                    title: 'Failed',
                    variant: 'danger',
                    solid: true
                });
            });
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault()
            this.handleChangeRole();
        },
        //Get all roles from database
        async getRoles() {
            let self = this;
            await RoleModel.all().then(res => {
                self.roles = res.data;
            });
        },
        // Get all users from database
        async getUserList() {
            this.isBusy = true
            try {
                const response = await UserModel.all();
                this.rows = response.data.length
                this.items = response.data
                this.isBusy = false
            } catch (error) {
                this.isBusy = false
                return []
            }
        },
        //On filtered table update rows and current page
        onFiltered(filteredItems) {
            this.rows = filteredItems.length
            this.currentPage = 1
        }
    },
    mounted() {
        this.getRoles();
        this.getUserList();
    }
}
</script>

